doctype html
head
  meta(charset='UTF-8')
  link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css' rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js')
  script(src='https://cdn.quilljs.com/1.3.6/quill.js')
  link(rel='icon' href='images/favicon.svg')
  link(rel='stylesheet' href='css/askQuestion.css')
  link(rel='stylesheet' href='css/editorStyles.css')
  script(src='scripts/request.js')
  script(src='scripts/askQuestion.js')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title heapOverflow | Ask
body
  include ./header.pug
  h1 Ask A Question
  .newQuestionBox
    label(for='titleField') Title
    input#titleField(type='text' maxlength='100' autocomplete='off')
    label(for='bodyField') Body
    #bodyField
  button#postButton Post Your Question
