doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/index.css')
  title heapOverflow | Home
.header
  a#icon(href='/home' alt='home' title='heapOverFlow')
    img(src='images/appIcon.png' alt='heapOverflow Icon')