link(rel="stylesheet", href="/css/popUp.css")
script(src='/scripts/popUp.js')
#pop-up-container.hidden(onclick='closePopUp()')
  .popUp(onclick='event.stopPropagation()')
    p Please Login or Sign Up to perform this action.
    a#login Login
    a#signUp Sign&nbsp;Up
    a#cancel(onclick='closePopUp()') No Thanks
