link(rel="stylesheet", href="css/popUp.css")
script(src='scripts/popUp.js')
#pop-up-container.hidden
  .popUp
    p You can&apos;t perform this action without Login. Please Login / Sign Up to continue.
    div
      a#login Login / Sign Up
      a(onclick='closePopUp()') Cancel
