* {
  font-family: 'Mulish', sans-serif;
}

body{
  background-color: #f1fcfc;
}

.ql-editor {
  min-height: 200px;
  max-height: 350px;
  overflow-y: scroll;
}

h1 {
  font-weight: 300;
  margin: 30px 10vw;
  font-size: 30px;
}

#postButton {
  margin: 0px 0vw 150px 77.5vw;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 10px;
  color: #0a4a4d;
  background: #a6e3e9;
  height: fit-content;
  border: none;
}

#postButton:focus,
#postButton:hover {
  background-color: #82d5dd;
  color: black;
}

#bodyField {
  border: 1px solid rgb(202, 202, 202);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: white;
}

.ql-toolbar{
  background: white !important;
}

.newQuestionBox {
  flex-direction: column;
  margin: 20px 10vw;
  display: flex;
  border-radius: 2px;
}

#tagInputHolder,
.newQuestionBox > input,
.newQuestionBox > label {
  margin: 5px 0;
}

.newQuestionBox > label {
  font-size: 25px;
  color: rgb(61, 61, 61);
}

#titleField, #tagInputHolder {
  font-size: 18px;
  padding: 0 10px;
  display: flex;
  border: 1px solid rgb(163, 163, 163);
  outline: none;
  border-radius: 5px;
  background: white;
}

#titleField {
  overflow-x: scroll;
}

 #tagInputHolder{
   height: 36px;
   align-items: center;
   position: relative;
 }

 #suggestionBox {
  position: absolute;
  top:42px;
  left:0px;
  width:40%;
  background-color:white;
  border-radius: 4px;
  padding:0px 60px 20px 15px;
  box-shadow: 0px 0px 3px 1px rgb(201, 201, 201);
 }

 #suggestionBox p {
   font-size: 20px;
   color:#10757a;
   padding: 15px 10px 10px;
   margin:0px 0px 5px;
 }

#titleField:focus {
  border: 1px solid black;
}

#tagInputHolder:focus-within {
  border: 1px solid black;
}

#tagInputHolder #suggestionBox,
#tagInputHolder #suggestionBox * {
  visibility: hidden;
}

#tagInputHolder:focus-within #suggestionBox,
#tagInputHolder:focus-within #suggestionBox * {
  visibility: unset;
}

#tagInputHolder input {
  font-size: 18px;
  padding: 5px 10px;
  height: 90%;
  outline: none;
  border: none;
  margin: -1px;
  background-color: transparent;
  flex-grow: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  overflow:scroll;
}

#tagName {
  height: 28px;
  outline: none;
  border:none;
}

.tag{
  color: #0a4a4d;
  background-color: #ccf0f3;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 8px;
  margin: 5px;
  font-size: 14px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-weight: 400;
  height:fit-content;
}

.tag:focus,
.tag:hover{
  background-color: rgb(186, 219, 238);
}