* {
  font-family: sans-serif;
}

.ql-editor {
  min-height: 200px;
  max-height: 350px;
  overflow-y: scroll;
}

h1 {
  font-weight: 100;
  margin: 30px 10vw;
  font-size: 40px;
}

#postButton {
  margin: 30px 10vw;
  font-size: 23px;
  font-weight: lighter;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 10px;
  border: 1px solid rgb(185, 185, 185);
  color: rgb(61, 61, 61);
}

#postButton:focus,
#postButton:hover {
   background-color: rgb(228, 228, 228);
  color: black;
  border: 1px solid rgb(107, 107, 107);
}

#bodyField {
  border: 1px solid rgb(163, 163, 163);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.newQuestionBox {
  border: 1px solid rgb(92, 92, 92);
  margin: 0 10vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.newQuestionBox > input,
.newQuestionBox > label {
  margin: 10px 0;
}

.newQuestionBox > label {
  font-size: 35px;
}

#titleField {
  font-size: 25px;
  padding: 5px 10px;
  border: 1px solid rgb(163, 163, 163);
  outline: none;
  border-radius: 5px;
}

#titleField:focus {
  border: 1px solid black;
}
