* {
  font-family: 'Mulish', sans-serif;
}

body{
  background-color: #f1fcfc;
}

.ql-editor {
  min-height: 200px;
  max-height: 350px;
  overflow-y: scroll;
}

h1 {
  font-weight: 300;
  margin: 30px 10vw;
  font-size: 30px;
}

#postButton {
  margin: 0px 10vw 150px;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 10px;
  color: #0a4a4d;
  background: #a6e3e9;
  height: fit-content;
  border: none;
}

#postButton:focus,
#postButton:hover {
  background-color: #82d5dd;
  color: black;
}

#bodyField {
  border: 1px solid rgb(202, 202, 202);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: white;
}

.ql-toolbar{
  background: white !important;
}

.newQuestionBox {
  flex-direction: column;
  margin: 20px 10vw;
  display: flex;
  border-radius: 2px;
}

#tagInputHolder,
.newQuestionBox > input,
.newQuestionBox > label {
  margin: 5px 0;
}

.newQuestionBox > label {
  font-size: 25px;
  color: rgb(61, 61, 61);
}

#titleField, #tagInputHolder {
  font-size: 18px;
  padding: 0 10px;
  display: flex;
  border: 1px solid rgb(163, 163, 163);
  outline: none;
  border-radius: 5px;
  overflow-x: scroll;
  background: white;
}

 #tagInputHolder{
   height: 36px;
   align-items: center;
 }


#titleField:focus {
  border: 1px solid black;
}

#tagInputHolder:focus-within {
  border: 1px solid black;
}

#tagInputHolder input {
  font-size: 18px;
  /* height: 25px; */
  padding: 5px 10px;
  height: 90%;
  outline: none;
  border: none;
  margin: -1px;
}

#tagInputHolder::-webkit-scrollbar {
  display: none;
}

#tagsHolder {
  display: flex;
}

#tagName {
  height: 28px;
  outline: none;
  border:none;
}

.tag{
  /* color: rgb(44, 87, 119);
  background-color: rgb(220, 234, 243);
  text-decoration: none;
  cursor: pointer;
  padding:3px 5px;
  align-items: center;
  margin: 0px 5px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid rgb(173, 173, 173); */

  color: #0a4a4d;
  background-color: #ccf0f3;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 8px;
  margin: 5px;
  font-size: 14px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-weight: 400;
}

.tag:focus,
.tag:hover{
  background-color: rgb(186, 219, 238);
}