* {
  font-family: 'Mulish', sans-serif;
}

.red {
  color:red;
}

.title {
  font-weight: 400;
  font-size: 35px;
  margin: 50px 10vw 10px;
}

.container {
  margin: 30px 10vw 70px;
}

.container > .top-lane,
.container > .middle-lane {
  display: flex;
}

.container input {
  font-size: 18px;
  padding: 8px;
  margin: 8px 0 20px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 3px;
  outline: none ;
}

.container > .top-lane > .profileImg {
  border-radius: 5px;
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  border: 1px solid rgb(194, 194, 194);
  margin: 13px 0px 0px 20px;
}

.container > .top-lane > .personalInfo {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 0px 80px;
}

.container label {
  font-size: 25px;
  color: rgb(61, 61, 61);
}

.container > .middle-lane {
  display: flex;
  flex-direction: column;
  width: calc(272px + 450px + 80px); /* depend on form size */
}

.container > .bottom-lane {
  display: flex;
  flex-direction: row-reverse;
  width: calc(272px + 450px + 80px); /* depend on form size */
}

.container > .bottom-lane * {
  margin: 0 0.5vw;
  margin-top: 2vw;
  font-size: 24px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 8px;
  border: 1px solid rgb(185, 185, 185);
  color: rgb(61, 61, 61);
}

.container > .bottom-lane *:hover,
.container > .bottom-lane *:focus {
  background-color: rgb(228, 228, 228);
  color: black;
  border: 1px solid rgb(107, 107, 107);
}