*{
  font-family: 'Mulish', sans-serif;
}

body{
  background-color: #f1fcfc;
}

.errorContainer {
  margin: 10vh auto;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorContainer > h1 {
  font-size: 100px;
  font-weight: 300;
  color: #0a4a4d;
  margin: 10px;
}

.errorContainer > p{
  font-size: 35px;
  text-align: center;
  color: #0a4a4d;
  font-weight: 200;
}

.errorContainer > a{
  font-size: 27px;
  font-weight: 300;
  outline: none;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 10px;
  color: #0a4a4d;
  background: #a6e3e9;
  height: fit-content;
}

.errorContainer > a:visited{
  color: #0a4a4d;
}

.errorContainer > a:hover,
.errorContainer > a:focus{
  background-color: #82d5dd;
  color: black;
}