* {
  font-family: "Mulish", sans-serif;
}

body {
  margin: 0 2px;
  background-color: #f1fcfc;
}

a {
  text-decoration: none;
}

.userName {
  font-weight: 500;
  color: #03292b;
  font-size: 17px;
  border-bottom: 1px solid transparent;
}
.userName:hover {
  border-bottom: 1px solid #03292b;
}

.noQuestion {
  margin: 20px 10vw;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: #d2eaff;
  border-radius: 5px;
}

.errorContainer {
  margin: 10vh auto;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errorContainer > h1 {
  font-size: 100px;
  font-weight: 300;
  color: #0a4a4d;
  margin: 10px;
}
.errorContainer > p {
  font-size: 35px;
  text-align: center;
  color: #0a4a4d;
  font-weight: 200;
}
.errorContainer > a {
  font-size: 20px;
  font-weight: 400;
  outline: none;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 10px;
  color: #0a4a4d;
  background: #a6e3e9;
  height: fit-content;
  border: none;
  font-size: 27px;
  font-weight: 300;
}
.errorContainer > a:hover, .errorContainer > a:focus {
  background-color: #82d5dd;
  color: black;
}
.errorContainer > a:visited {
  color: #0a4a4d;
}
