* {
  font-family: "Mulish", sans-serif;
}

body {
  margin: 0 2px;
  background-color: #f1fcfc;
}

a {
  text-decoration: none;
}

.userName {
  font-weight: 500;
  color: #03292b;
  font-size: 17px;
  border-bottom: 1px solid transparent;
}
.userName:hover {
  border-bottom: 1px solid #03292b;
}

.noQuestion {
  margin: 20px 10vw;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: #d2eaff;
  border-radius: 5px;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 10;
  padding-right: 2vw;
  background: #a6e3e9;
}

#icon {
  height: 70%;
  margin: 0 25px;
  cursor: pointer;
  transition: filter 0.13s ease-in-out;
  outline: none;
}
#icon > img {
  height: 100%;
}
#icon:hover, #icon:focus {
  filter: drop-shadow(4px 4px 2px rgba(66, 66, 66, 0.3));
}

#searchBar {
  height: 42%;
  display: flex;
  background-color: #e3fdfd;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0 5vw;
  border: 1px solid #a6e3e9;
  align-items: center;
  position: relative;
}
#searchBar:focus-within {
  border: 1px solid #71c9ce;
}
#searchBar:focus-within .dropDown {
  visibility: unset;
}
#searchBar form {
  flex-grow: 1;
}
#searchBar input {
  height: 90%;
  width: 100%;
  border: hidden;
  padding-left: 5px;
  flex-grow: 1;
  outline: none;
  background-color: #e3fdfd;
  color: #0a4a4d;
  font-size: 19px;
}
#searchBar input::placeholder {
  font-weight: 400;
  color: #71c9ce;
  font-size: 18px;
}
#searchBar img {
  height: 100%;
  padding-top: 10px;
  padding-left: 5px;
}
#searchBar .dropDown {
  visibility: hidden;
  background: white;
  position: absolute;
  box-shadow: 0px 0px 3px 1px #dadada;
  border-radius: 4px;
  display: block;
  top: 130%;
  padding: 0px 60px 0px 15px;
}

.dropDownArrow {
  top: -10px;
  left: 32px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

#searchMenu .option {
  font-size: 18px;
  color: #10757a;
  margin: 0px 10px 0px 2px;
}
#searchMenu .description {
  font-size: 16px;
  color: #c0bebe;
}

.headerButton {
  font-weight: 400;
  margin: 0 2px;
  height: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 8px 10px;
  color: #0a4a4d;
  flex-shrink: 0;
}
.headerButton:hover, .headerButton:focus {
  background-color: #8fdbdf;
  color: black;
}

#profileButton {
  position: relative;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  height: fit-content;
  width: fit-content;
}
#profileButton > img {
  border: 1px solid #26868b;
  overflow: hidden;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
#profileButton .profileDropDown:hover, #profileButton:focus .profileDropDown {
  visibility: inherit;
}

.profileDropDown {
  visibility: hidden;
  background: white;
  position: absolute;
  box-shadow: 0px 0px 3px 1px #dadada;
  border-radius: 4px;
  top: 120%;
  right: 0%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.profileDropDown > a {
  padding: 5px 10px;
  color: #0a4a4d;
  font-size: 16px;
  font-weight: 300;
  border-radius: 3px;
}
.profileDropDown > a:active, .profileDropDown > a:visited {
  color: #0a4a4d;
}
.profileDropDown > a:hover, .profileDropDown > a:focus {
  background: #a6e3e9;
  color: black;
}
.profileDropDown .dropDownArrow {
  left: 57px;
}
