* {
  font-family: sans-serif;
}

body {
  margin: 0 5px;
}

a {
  text-decoration:  none;
}

/* Style for header */
.header {
  height: 100px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 100;
}

/* Style for Icon */
#icon {
  height: 70%;
  margin: 0 25px;
  cursor: pointer;
  transition: filter 0.13s ease-in-out;
}

#icon > img {
  height: 100%;
}

#icon:hover,
#icon:focus {
  filter: drop-shadow(4px 4px 3px rgb(138, 138, 138));
}
/* style for icon ends */


/* Style for searchBar */
#searchBar {
  height: 50%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  flex-grow: 1;
  margin: 5vw;
  border: 1px solid rgb(202, 202, 202);
  visibility: hidden;
}

#searchBar > input {
  height: 90%;
  border: hidden;
  padding: 0 15px;
  outline: none;
  font-size: 25px;
  flex-grow: 1;
}

#searchBar > img {
  height: 90%;
  padding: 0 5px;
}
/* Style for searchBar ends */


#headerButton {
  margin: 0 3vw;
  height: 40%;
  font-size: 27px;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 10px;
  border: 1px solid rgb(185, 185, 185);
  color: rgb(61, 61, 61);
}

#headerButton > img {
  height: 85%;
  margin: 0 8px 0 0;
  border-radius: 50%;
}

#headerButton:hover,
#headerButton:focus {
  background-color: rgb(228, 228, 228);
  color: black;
  border: 1px solid rgb(107, 107, 107);
}
/* styles for headerActions ends */