* {
  font-family: 'Mulish', sans-serif;
}

body {
  margin: 0 2px;
}

a {
  text-decoration:  none;
}

/* Style for header */
.header {
  height: 80px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 100;
  padding: 0 2vw 0 0;
  background: #a6e3e9;
}

/* Style for Icon */
#icon {
  height: 70%;
  margin: 0 25px;
  cursor: pointer;
  transition: filter 0.13s ease-in-out;
  outline: none;
}

#icon > img {
  height: 100%;
}

#icon:hover,
#icon:focus {
  filter: drop-shadow(4px 4px 2px rgba(66, 66, 66, 0.3));
}
/* style for icon ends */


/* Style for searchBar */
#searchBar {
  height: 42%;
  display: flex;
  background-color: #e3fdfd;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0 5vw;
  border: 1px solid #a6e3e9;
  align-items: center;
  position: relative;
}

#searchBar:focus-within {
  border: 1px solid #71c9ce;
}

#searchBar form{
  flex-grow: 1;
}

#searchBar input {
  height: 90%;
  width: 100%;
  border: hidden;
  padding-left: 5px;
  flex-grow: 1;
  outline: none;
  background-color: #e3fdfd;
  color: #0a4a4d;
  font-size: 19px;
}

#searchBar input::placeholder {
  font-weight: 400;
  color: #71c9ce;
  font-size: 18px;
}

#searchBar img {
  height: 100%;
  padding-top: 10px;
  padding-left: 5px;
}


#searchBar .dropDown,
#searchBar .dropDown * {
  visibility: hidden;
}

#searchBar:focus-within .dropDown,
#searchBar:focus-within .dropDown * {
  visibility: unset;
}

#searchBar .dropDown {
  position: absolute;
  display: block;
  top: 130%;
}

#searchBar:focus-within .dropDown {
  background-color:white;
  border-radius: 4px;
  padding:0px 60px 0px 15px;
  box-shadow: 0px 0px 3px 1px rgb(218, 218, 218);
}

#searchBar .dropDownArrow {
  top: -10px;
  left: 32px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

#searchMenu .option {
  font-size: 18px;
  color:#10757a;
  margin:0px 10px 0px 2px;
}

#searchMenu .description {
  font-size: 16px;
  color: rgb(192, 190, 190);
}
/* Style for searchBar ends */


.headerButton {
  font-weight: 400;
  margin: 0 2px;
  height: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 8px 10px;
  color: #0a4a4d;
  flex-shrink: 0;
}

#profileButton{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #26868b;
}

#profileButton > img {
  height: 100%;
  width: 100%;
}

.headerButton:hover,
.headerButton:focus {
  background-color: #8fdbdf;
  color: black;
}
/* styles for headerActions ends */