*{
  font-family: 'Mulish', sans-serif;
}

a{
  text-decoration: none;
}

#pop-up-container{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(100,100,100,0.5);
  z-index: 150;
}

#pop-up-container > .popUp{
  margin: 30vh auto;
  width: 500px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 25px 5px rgb(156, 156, 156);
}

#pop-up-container > .popUp > p{
  font-size: 25px;
  color: rgb(85, 85, 85);
}

#pop-up-container > .popUp > div{
  display: flex;
  justify-content: center;
}

#pop-up-container > .popUp > div > a{
  font-size: 23px;
  outline: none ;
  align-self: center;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 10px;
  border: 1px solid rgb(185, 185, 185);
  color: rgb(61, 61, 61);
}

#pop-up-container > .popUp > div > a:focus,
#pop-up-container > .popUp > div > a:hover {
  background-color: rgb(228, 228, 228);
  color: black;
  border: 1px solid rgb(107, 107, 107);
}

.hidden{
  display: none;
}