body{
  background-color: #f1fcfc;
}

.ql-editor {
  overflow-y: scroll;
  max-height: 400px;
}

.ql-disabled .ql-editor {
  max-height: none;
}

.editor.ql-disabled {
  border: none !important;
}

.strong {
  font-weight: bold;
  color: black;
}

.strong:hover{
  border-bottom: 2px solid black;
}

.questionBox, .answerBox {
  height: fit-content;
  margin: 20px 10vw;
  display: flex;
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 8px rgba(1,1,1,0.1);
  padding: 10px 5px;
}

.questionBox > .stats ,
  .answerBox > .stats {
  height: 300px;
  width: 50px;
  flex-shrink: 0;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionBox > .stats > .votes ,
  .answerBox > .stats > .votes {
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .questionBox > .stats > .votes > .voteCount ,
  .answerBox > .stats > .votes > .voteCount{
    margin: 5px;
    font-size: 25px;
    color: rgb(44, 44, 44);

  }

  .questionBox > .stats > .votes > button ,
  .answerBox > .stats > .votes > button{
    background: none;
    border: none;
    height: 15px;
    width: 35px;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    outline: none;
  }

  .questionBox > .stats > .votes > button:hover ,
  .answerBox > .stats > .votes > button:hover,
  .acceptance:hover,
  .acceptance:focus{
    filter: brightness(70%);
  }

  
  .questionBox > .stats > .votes > .downVote ,
  .answerBox > .stats > .votes > .downVote{
    transform: rotate(180deg);
  }

  .questionBox > .stats > .votes > button > img ,
  .answerBox > .stats > .votes > button > img{
    height: 100%;
    width: 100%;
    /* padding: 5px; */
  }

.questionBox > .body,
.answerBox > .body {
  flex-grow: 1;
  margin: 5px 0;
}

.questionBox > .body > .editor,
.answerBox > .body> .editor {
  border: 1px solid rgb(163, 163, 163);
  border-top: none;
  height: auto !important;
}

.questionBox > .body > .tagStrip {
  height: 40px;
  width: 100%;
  display: flex;
}

.questionBox > .body > .tagStrip > .tag {
  color: #0a4a4d;
  background-color: #ccf0f3;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 8px;
  margin: 5px;
  font-size: 14px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-weight: 400;
}

.questionBox > .body > .tagStrip > .tag:hover,
.questionBox > .body > .tagStrip > .tag:focus {
  background-color: #bbe4e7;
}

.questionBox > .body > .options,
.answerBox  > .body > .options {
  flex-grow: 1;
}

.questionBox > .body > .options > .editButton,
.answerBox > .body > .options > .editButton {
  background-color: skyblue;
  height: 30px;
}

.questionBox > .body > .options > .commentBar,
.answerBox > .body > .options > .commentBar {
  background-color: rgb(24, 146, 79);
  height: 60px;
}
.questionBox > .body > .options > .commentsBox,
.answerBox > .body > .options > .commentsBox {
  height: 50px;
}

.hidden{
  display: none;
}

#answersHead{
  margin: 15px 10vw;
  font-size: 25px;
  color: #0a4a4d;
  padding: 12px 15px;
  border-bottom: 1px solid #0a4a4d;
}

#answerBody{
  margin: 40px 10vw 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(1,1,1,0.1);
}

#answerBody > #editor {
  padding: 5px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
  border-top: none;
}

#answerBody > #editor > .ql-editor{
  min-height: 300px;
}

#answerButton {
  margin: 0px 10vw 250px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 10px;
  color: #0a4a4d;
  background: #a6e3e9;
  height: fit-content;
}

#answerButton:focus,
#answerButton:hover {
  background-color: #82d5dd;
  color: black;
}

.chosen > img{
  content: url('/images/chosenArrow.svg');
}

.status{
  width: fit-content;
  margin: 10px 0px 5px 5px;
  font-size: 14px;
  color: rgb(167, 167, 167);
  display: flex;
  align-items: center;
  margin: 15px 15px 5px;
}

.acceptance{
  width: 30px;
  margin: 30px 0;
  cursor: pointer;
}

.acceptance.accepted{
  content: url('/images/chosenTick.svg');
}