.ql-editor {
  overflow-y: scroll;
  max-height: 400px;
}

.ql-disabled .ql-editor {
  max-height: none;
}

.editor.ql-disabled {
  border: none !important;
}

.strong {
  font-weight: bold;
  color: black;
}

.strong:hover{
  border-bottom: 2px solid black;
}

.questionBox, .answerBox {
  margin: 20px 10vw;
  display: flex;
  padding: 15px 0;
  height: fit-content;
}

.questionBox > .stats ,
  .answerBox > .stats {
  height: 300px;
  /* background: red; */
  width: 80px;
  flex-shrink: 0;
}

.questionBox > .stats > .votes ,
  .answerBox > .stats > .votes {
    height: 100px;
    margin: 5px;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .questionBox > .stats > .votes > .voteCount ,
  .answerBox > .stats > .votes > .voteCount{
    margin: 10px;
    font-size: 28px;
    color: rgb(44, 44, 44);

  }

  .questionBox > .stats > .votes > button ,
  .answerBox > .stats > .votes > button{
    background: none;
    border: none;
    height: 20px;
    width: 35px;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    outline: none;
  }

  .questionBox > .stats > .votes > button:hover ,
  .answerBox > .stats > .votes > button:hover{
    filter: brightness(60%);
  }

  
  .questionBox > .stats > .votes > .downVote ,
  .answerBox > .stats > .votes > .downVote{
    transform: rotate(180deg);
  }

  .questionBox > .stats > .votes > button > img ,
  .answerBox > .stats > .votes > button > img{
    height: 100%;
    width: 100%;
    /* padding: 5px; */
  }

.questionBox > .body,
.answerBox > .body {
  flex-grow: 1;
  margin: 0 20px;
}

.questionBox > .body > .editor,
.answerBox > .body> .editor {
  border: 1px solid rgb(163, 163, 163);
  border-top: none;
  height: auto !important;
}

.questionBox > .body > .tagStrip {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(white, gray);
}

.questionBox > .body > .modifier,
.answerBox > .body > .modifier {
  display: flex;
}

.questionBox > .body > .modifier > .options,
.answerBox  > .body > .modifier > .options {
  flex-grow: 1;
}

.questionBox > .body > .modifier > .options > .editButton,
.answerBox > .body > .modifier > .options > .editButton {
  background-color: skyblue;
  height: 30px;
}

.questionBox > .body > .modifier > .options > .commentBar,
.answerBox > .body > .modifier > .options > .commentBar {
  background-color: rgb(24, 146, 79);
  height: 60px;
}
.questionBox > .body > .modifier > .options > .commentsBox,
.answerBox > .body > .modifier > .options > .commentsBox {
  height: 50px;
}

.questionBox > .body > .modifier > .ownerInfo,
.answerBox > .body > .modifier > .ownerInfo {
  width: 250px;
  background-color: rgb(243, 243, 243) ;
  border-radius: 5px;
  margin: 10px 0 10px 15px;
  flex-shrink: 0;
  height: fit-content;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionBox > .body > .modifier > .ownerInfo > p,
.answerBox > .body > .modifier > .ownerInfo > p {
  margin: 5px 2px 5px 5px;
  font-size: 18px;
}

.hidden{
  display: none;
}

#answersHead{
  margin: 15px 10vw;
  font-size: 30px;
  color: rgb(41, 41, 41);
  padding: 12px 15px;
  border-bottom: 3px solid rgb(97, 97, 97);
}

#answerBody{
  margin: 40px 10vw 20px;
}

#answerBody > #editor {
  padding: 5px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
  border-top: none;
}

#answerBody > #editor > .ql-editor{
  min-height: 300px;
}

#answerButton {
  margin: 0px 10vw 250px;
  font-size: 20px;
  font-weight: lighter;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 10px;
  border: 1px solid rgb(185, 185, 185);
  color: rgb(61, 61, 61);
}

#answerButton:focus,
#answerButton:hover {
  background-color: rgb(228, 228, 228);
  color: black;
  border: 1px solid rgb(107, 107, 107);
}