* {
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
}

#titleBar{
  display: flex;
  margin: 30px 10vw 0px;
}

#titleBar h1 {
  font-weight: 400;
  font-size: 32px;
  margin: 20px 25px 20px 0;
  flex-grow: 1;
  color: #0a4a4d;
  /* word-break: break-all; */
}

#titleBar a {
  margin: 20px 1vw 20px 5vw;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 10px;
  color: #0a4a4d;
  background: #cbf1f5;
}

#titleBar a:focus,
#titleBar a:hover {
  background-color: #a6e3e9;
  color: black;
}

#questionStatus{
  margin: 0px 10vw 10px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 400;
  color: gray;
}

#questionStatus span{
  color: black;
}

.separator{
  margin: 10px 10vw;
  border-top: 1px solid #0a4a4d;
  border-bottom: none;
}